<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>College Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">

		<a class="navbar-brand" href="#">StudentLeave Details</a>


		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
				</li>
			</ul>
		</div>
	</nav>


	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th> Roll No </th>
				<th> Student Name</th>
				<th> Date</th>
				<th> Day </th>
				
					<a th:href="@{/home}">Redirect To Home</a>
				
			</tr>
		</thead>

		<tbody>
			<tr th:each="sleave: ${studentleave}">
				<td th:text="${sleave.rollno}"></td>
				<td th:text="${sleave.name}"></td>
				<td th:text="${sleave.date}"></td>
				<td th:text="${sleave.day}"></td>
				
				
			</tr>
		</tbody>

	</table>

	</div>
</body>

</html>